* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.AppTaskineitor select{
  margin: 10px 120px 0px;
  display: block;
  padding: 10px;
  width: 145px;
  cursor: pointer;
}